GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(0, 0, 0, 0.05);
    --thick-line-color: rgba(0, 0, 0, 0.5);
    --spacing: 15;
}

#mini-map {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.18);
    padding-top: 2px;
}

#mini-map .unity-label {
    display: none;
}

.panel-label {
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.17);
    background-color: rgb(53, 53, 53);
}

.toolbar-button {
    width: 22px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.toolbar-toolbar-button {
    -unity-text-align: middle-left;
}

.toolbar-right-panel {
}
